
.modalBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.9);
  z-index: 10;
}

.modalBackground .modalBody {
  position: absolute;
  top: 70px;
  bottom: 70px;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  background-color: var(--mainColor03);
  overflow-y: scroll;
  width: 50vw;
  max-width: 1100px;
  min-width: 500px;
}

.modalBackground .modalBody .closeBtn {
  width: 40px;
  height: 40px;
  font-size: 29px;
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: var(--textColor01);
  border: 2px solid var(--textColor01);
  border-radius: 50%;
  position: sticky;
  display: block;
  left: 93%;
  top: 3%;
  transition: 0.3s;
}

.modalBackground .modalBody .closeBtn:hover
{
  color: var(--mainColor01);
  border-color: var(--mainColor01);
}

.modalBackground .modalBody .modalTitle {
  color: var(--textColor01);
  width: 100%;
  text-align: center;
  display: block;
  margin: 20px 0 10px;
  font-size: 23px;
}

.modalBackground .modalBody .carouselSlider {
  max-width: 85%;
  max-height: 50vh;
  height: 100%;
  margin: auto;
  display: block;
  margin-bottom: 25px;
}

.modalBackground .modalBody .carouselSlider .nextBtn {
  width: 40px;
  height: 40px;
  font-size: 29px;
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: var(--textColor01);
  border: 2px solid var(--textColor01);
  border-radius: 50%;
  position: fixed;
  left: 100%;
}

.modalBackground .modalBody .carouselSlider .prevBtn {
  width: 40px;
  height: 40px;
  font-size: 29px;
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: var(--textColor01);
  border: 2px solid var(--textColor01);
  border-radius: 50%;
  position: fixed;
  left: 100%;
}

.modalBackground .modalBody .carouselSlider img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.modalBackground .modalBody .modalContent {
}

.modalBackground .modalBody .modalContent ul {
  flex-direction: column;
  gap: 20px;
}

.modalBackground .modalBody .modalContent ul li {
}
