
.seperator {
  display: block;
  background-color: var(--textColor02);
  height: 1px;
  width: 100%;
  opacity: 0.3;
  max-width: 90vw;
  margin: auto;
}

.aboutMeWrapper {
  background-color: var(--mainColor03);
  width: 100%;
  height: auto;
  min-height: 100vh;
  scroll-snap-align: start;
}

.aboutMeWrapper .contentWrapper {
  width: 45%;
  min-width: 1100px;
  margin: auto;
}

@media only screen and (max-width: 1100px) {
  .aboutMeWrapper .contentWrapper {
    min-width: unset;
    width: 75%;
  }
}

@media only screen and (max-width: 700px) {
  .aboutMeWrapper .contentWrapper {
    width: 80%;
  }
}
