.homeWrapper {
  background-color: var(--mainColor02);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  scroll-snap-align: start;
}

.homeWrapper .contentTable {
  display: table;
  width: 500px;
  height: 100%;
  margin-left: 23vw;
}

.homeWrapper .contentTable .content {
  vertical-align: middle;
  position: relative;
  display: table-cell;
  color: var(--textColor02);
}

.homeWrapper .contentTable .content .textWrapper p {
  line-height: 32px;
}

.homeWrapper .contentTable .content .textWrapper h1 {
  color: var(--textColor01);
}

.aboutMeExtraStyle {
  margin-right: 20px;
}

@media only screen and (max-width: 1100px) {
  .homeWrapper {
    background-position: center right 36%;
  }

  .homeWrapper .contentTable {
    margin-left: 3vw;
    width: 420px;
  }
}

@media only screen and (max-width: 700px) {
  @media only screen and (max-height: 1000px) {
    .homeWrapper {
      background-position: calc(69%) calc(-30%) !important;
      background-size: inherit;
    }
  }

  .homeWrapper {
    background-position: bottom right;
  }

  .homeWrapper .contentTable {
    display: block;
    padding: 30px;
    width: 390px;
  }

  .homeWrapper .contentTable .content .ctaWrapper .aboutMeLink {
    margin-bottom: 1vh;
  }
}
