.portfolioWrapper {
  background-color: var(--mainColor03);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.portfolioWrapper .content {
}

.portfolioWrapper .content ul {
}

.portfolioWrapper .content ul li {
}

.portfolioWrapper .content ul li a {
}

.portfolioWrapper .content ul li a img {
}

.portfolioWrapper .content ul li a .hoverDiv {
}

.portfolioWrapper .content ul li a .hoverDiv span {
}