.headerWrapper {
	width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr;
}

.headerWrapper::before {
	display: block;
    content: "";
    position: absolute;
    width: 4px;
    left: 55.5vw;
    height: 100%;
    background-color: var(--headerMainColor02);
}

.leftText {
	background-color: var(--headerBackgroundColor01);
    color: white;
    transform-style: preserve-3d;
    z-index: 1;
    font-family: var(--fontFam01);
    height: 100%;
}

.leftText::before,
.leftText::after {
    display: block;
    content: "";
    position: absolute;
    width: 2000px;
    right: -800px;
    height: 500px;
    background-color: var(--headerBackgroundColor01);
	border: 4px solid var(--headerMainColor02);
}

.leftText::before {
    bottom: -275px;
    transform: rotateZ(22deg) translateZ(-1px);
}

.leftText::after {
    top: -275px;
    transform: rotateZ(-22deg) translateZ(-1px);
}

.leftText .headerText {
	text-align: center;
    width: 80%;
    margin: 0 0 0 10%;
    height: auto;
    position: absolute;
    top: 12%;
}

.leftText .headerText h1 {
	margin: 0;
    padding: 0.67em 0;
    font-size: 4em;
	cursor: default;
    text-shadow: 
		0 0 30px var(--headerMainColor01),
		0 0 55px var(--headerMainColor01),
		0 0 60px var(--headerMainColor01);
}

.leftText .aboutMeText {
	text-align: center;
    width: 80%;
    margin: 5% 0 5% 10%;
    height: 55%;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.leftText p {
	line-height: 1.2em;
    font-size: 1.2em;
    position: relative;
    top: 43%;
    transform: translateY(-50%);
	cursor: default;
}

.leftText .buttonWrapper{
	text-align: center;
	margin-top: 5em;
}

.rightImage {
    background-color: var(--headerBackgroundColor02);
	text-align: center;
}

.rightImage::before,
.rightImage::after {
	content: "";
    display: block;
    position: relative;
}

.rightImage::before {
    background-color: var(--headerBackgroundColor01);
    width: 150px;
    height: 150px;
    top: calc(50% - 83px);
    left: -85px;
    transform: rotateZ(45deg) skew(30deg, 30deg);
	border: 8px solid var(--headerMainColor02);
}

.rightImage::after {
	background: linear-gradient(180deg, var(--headerMainColor02), #be782b);
    width: 25px;
    height: 25px;
    transform: rotateZ(45deg);
    border-radius: 4px;
    top: calc(50% - 178px);
    left: 50px;
}

.rightImage img {
	position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 7%;
    width: 25%;
    border: 2px solid white;
    border-radius: 25%;
}

@media screen and (max-height: 700px) and (min-width: 800px) {
	.leftText .headerText h1 {
		padding-top: 0;
	}
}