.headerWrapper {
	width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr;
}

.leftText {
	background-color: black;
	transform-style: preserve-3d;
	box-shadow: 0px 0px 10px 10px black;
	z-index: 1;
}

.leftText::before {
	display: block;
    content: "";
    position: absolute;
    width: 2000px;
    bottom: -275px;
    right: -800px;
    height: 500px;
    background-color: black;
    transform: rotateZ(22deg) translateZ(-1px);
	box-shadow: 0px 0px 10px 10px black;
}

.leftText::after {
	display: block;
    content: "";
    position: absolute;
    width: 2000px;
    top: -275px;
    right: -800px;
    height: 500px;
    background-color: black;
    transform: rotateZ(-22deg) translateZ(-1px);
	box-shadow: 0px 0px 10px 10px black;
}

.rightImage {
    background-color: grey;
}

.rightImage::after {
    content: "";
    display: block;
    position: relative;
    background-color: black;
    width: 150px;
    height: 150px;
    top: calc(50vh - 75px);
    left: -70px;
    transform: rotateZ(45deg) skew(30deg, 30deg);
}

.rightImage img {
	max-height: 500px;
    height: 80vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5vw;
    border: 2px solid white;
    border-radius: 25%;
    z-index: 1;
}
