.wrapper {
}

.contentBlock {
	width: 100vw;
	height: 100vh;
	min-height: 400px;
	z-index: 1;
	position: relative;
}

.blockHeader {
	background-color: black;
}

.blockAboutMe {
	background-color: green;
}

.blockProjects {
	background-color: blue;
}

.blockGetInContact {
	background-color: yellow;
}