.blockHeader {
	width: 100vw;
	height: 100vh;
	min-height: 400px;
	background-color: red;
}

.blockAboutMe {
	width: 100vw;
	height: 100vh;
	min-height: 400px;
	background-color: green;
}

.blockProjects {
	width: 100vw;
	height: 100vh;
	min-height: 400px;
	background-color: blue;
}

.blockGetInContact {
	width: 100vw;
	height: 100vh;
	min-height: 400px;
	background-color: yellow;
}